h2{
    font-size: xx-large;
    text-align: center;
    padding: 9px 25px;
    background: #000000;
    font-size: 20px;
    color: #008000;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease 0s;  
}

body{
    background-repeat: no-repeat;
    background-size: 120%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app_wrap {
    
    position: fixed;
    top: 25%;
    left: 5%;
}

.app_wrap h2 {
    
    font-size: 2.2rem;
    color: #0f1923;
}

.app_wrap h2 span {
    
    color: var(--maincolor);
}

.SText {
    
    font-size: 18px;
    color: var(--dark-color);
    font-weight: 500;
    margin-top: 20px;
}

.app_btn {
    margin-left: 750px;
    margin-top: -535px;
    display: flex;
    font-size: 17px;
}


.accBtn {
    padding: 10px 25px;
    background: #000000;
    outline: none;
    border: none;
    font-size: 17px;
    margin-top: 45px;
    color: #008000;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;   
}


#img1 {
    position: absolute;
    margin-left: 950px;
    margin-top: 230px;
    height: 400px;
}

.imgBox {
    position: relative;
    z-index: 1000;
}

#img2 {
    position: absolute;
    margin-left: 551px;
    margin-top: 250px;
    height: 230px;
}

.imgBox1 {
    position: relative;
    z-index: 1000;
}

.block {
    background-color: #008000;
    padding: 1px;
    width: 440px;
    margin-left: 30px;
    margin-top: 30px;
    font-family: "Montserrat", "sans-serif";
}